:root {
  --logo-header-color: #000000;
  --h-color: #212121;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --footer-adress-transparent: rgba(255, 255, 255, 0.6);
  --backgroung-main-color: #ffffff;
  --backgroung-hero-footer: #2f303a;
  --backgroung-team: #f5f4fa;
  --font-family-main: 'roboto', 'sans-serif';
  --font-family-secondary: 'raleway', 'sans-serif';
}

body {
  font-family: var(--font-family-main);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--backgroung-main-color);
  color: var(--main-text-color);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
p,
ul {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}

ul {
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  min-height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

/* =================== Header ===================== */
.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.header-container {
  outline: 1px solid tomato;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.list {
  list-style: none;
  font-style: normal;
}

.logo {
  outline: 1px solid tomato;

  margin-right: 93px;
  align-self: center;

  font-family: var(--font-family-secondary);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  color: var(--accent-color);
}
.logo-header-color {
  color: var(--logo-header-color);
}

.header-contacts-list {
  display: flex;
  margin-left: auto;
}
.header-contacts {
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.list-menu:hover,
.list-menu:focus,
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.nav-list {
  display: flex;
}
.nav-list .list-menu.current {
  color: var(--accent-color);
}
.nav-list .list-menu,
.header-contacts-list .header-contacts {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list .item {
  outline: 1px solid tomato;
}
.nav-list .item:not(:last-child),
.header-contacts-list .item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-list .item {
  outline: 1px solid tomato;
}

/* ===================== Hero ======================= */
.hero {
  background-color: var(--backgroung-hero-footer);
  color: var(--backgroung-main-color);
}
.hero-container {
  outline: 1px solid tomato;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-h {
  text-align: center;
  margin: 0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-header {
  display: inline-block;
  align-items: center;

  min-width: 200px;
  min-height: 50px;
  padding-right: 32px;
  padding-left: 32px;
  margin-top: 50px;

  cursor: pointer;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--backgroung-main-color);
}
.filters-list .radio-button.current {
  background-color: var(--accent-color);
}
/* ===================== Наши преимущества ======================= */
h2,
h3 {
  color: var(--h-color);
}

.main-content-section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.main-content-section:last-child {
  padding-bottom: 0px;
}

.advantages-container {
  outline: 1px solid tomato;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-list > .advantages-item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  margin-right: 30px;
}
.advantages-list > .advantages-item:nth-child(4n) {
  margin-right: 0px;
}
.advantages-list > .advantages-item:nth-child(n + 5) {
  margin-top: 30px;
}
.advantages {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 2;
}
.advantages-description {
  font-size: 14px;
  line-height: 1.88;
}
/* ===================== Чем мы занимаемся ======================= */
.particuliarities-container {
  outline: 1px solid tomato;
  padding-top: 0;
}
.particuliarities-h {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.specialization-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.particuliarities-photo {
  width: 370px;
  margin-top: 30px;
  margin-left: 30px;
}
.specialization-img > .particuliarities-photo {
  flex-basis: calc((100% - 3 * 30px) / 3);
}

/* ===================== Наша команда======================= */
.team-backgroung {
  background-color: var(--backgroung-team);
}
.team-container {
  outline: 1px solid tomato;
}

.our-team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.our-team-list {
  margin-top: 30px;
  margin-left: 30px;
}
.our-team > .our-team-list {
  flex-basis: calc((100% - 4 * 30px) / 4);
}
.teammate-photo {
  width: 270px;
}
.teammate-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teammate-name,
.teammate-position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.teammate-name {
  margin-bottom: 8px;
  font-weight: 500;
}
/* =========================== Footer =============================== */
.footer-background {
  background-color: var(--backgroung-hero-footer);
}
.footer-container {
  outline: 1px solid tomato;

  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-adress-container {
  outline: 1px solid tomato;
  margin-top: 20px;
}
.logo-footer-color {
  color: var(--backgroung-main-color);
}
.address-list {
  color: var(--backgroung-main-color);
  font-size: 14px;
  line-height: 1.71;
}
.footer-adress {
  color: var(--footer-adress-transparent);
}
/* =================== Projects ===================== */
.project-container {
  outline: 1px solid tomato;
}
.radio-button {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;

  border: none;
  border-radius: 4px;

  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;

  background-color: var(--backgroung-team);
  color: var(--h-color);
}
.filters-list .radio-button-list:not(:first-child) {
  margin-left: 8px;
}
.filters-list .radio-button.current,
.radio-button:hover,
.radio-button:focus {
  background-color: var(--accent-color);
  color: var(--backgroung-main-color);
}
.filters-list {
  outline: 1px solid tomato;

  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -30px;
}
.projects-list > .project-list-item {
  margin-right: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.projects-photo {
  width: 370px;
}
.project-description {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;

  border: 1px solid #eeeeee;
  border-top: none;
}
.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-type {
  font-size: 16px;
  line-height: 1.9;
}
